# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/app/app

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# Upload directory
/app/uploads/ 